* {
   outline: 1px color: transparent; !important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 
.app {
	display: flex; 
	color: black;
	font-family: times;
	background-color: rgb(219, 206, 192);
}

.title {
	background-color: white;
	color: black;
	text-align: center
}
.description {
	max-width: 1500px;
	color: black;
	font-family: times;
	font-size: 16px;
	background-color: rgb(219, 206, 192);
}
.screenshot {
	max-width: 500px;
	max-height: 375px;
}





